@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<WebApplication1.Models.Entities.Employee>

<h1> Employee Informations</h1>

<a class="btn btn-primary" asp-controller="Employee" asp-action="Add">Insert New Employee</a>
<br /><br />
<table class="table">
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Blood Group</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Projects</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.BloodGroup</td>
                <td>@employee.MobileNumber</td>
                <td>@employee.Email</td>
                <td>@employee.Address</td>
                <td>@employee.Projects</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Employee" asp-action="Update" asp-route-id="@employee.Id">Update</a>
                </td>

            </tr>
        }
    </tbody>
</table>